<main class="wrapper">
    <section class="left-window">
        <img src="assets/images/wee-claims.png" alt="image">
    </section>
    <section class="right-window">
        <h3 class="form-title">
            Registros
        </h3>
        <div class="table-wrapper">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Compañia</th>
                        <th scope="col">Cédula</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Titulo</th>
                        <th scope="col">Correo</th>
                        <th scope="col">Teléfono</th>
                    </tr>
                </thead>
                <tbody>
                    @for (participant of participants; track participant.participantId) {
                    <tr class="">
                        <td>{{participant.companyName | titlecase }}</td>
                        <td>{{participant.cedula }}</td>
                        <td>{{participant.name | titlecase}}</td>
                        <td>{{participant.title | titlecase}}</td>
                        <td>{{participant.email | lowercase}}</td>
                        <td>{{participant.phone}}</td>
                    </tr>
                    } @empty {
                    <tr>
                        <td colspan="4" style="text-align: center">No hay datos.</td>
                    </tr>
                    }
                </tbody>
            </table>

            <div class="d-flex justify-content-between p-2">
                <ngb-pagination [collectionSize]="total" [(page)]="page" [pageSize]="pageSize" (pageChange)="updateTable()">
                </ngb-pagination>

                <select class="form-select" style="width: auto" name="pageSize" [(ngModel)]="pageSize" (ngModelChange)="updateTable()">
                    <option [ngValue]="5">5 por página</option>
                    <option [ngValue]="10">10 por página</option>
                    <option [ngValue]="20">20 por página</option>
                </select>
            </div>
        </div>
        <div class="continue-box">
            <button (click)="onContinue()" type="button" class="btn btn-primary">
                Continuar
            </button>
        </div>

    </section>
</main>

